[Unit]
Description=Hello world
After=network.target

[Service]
ExecStart=/var/www/nodetest/helloworld/app.js
Restart=always
User=nobody
Group=nobody
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/var/www/nodetest/helloworld

[Install]
WantedBy=multi-user.target
